<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gammadelta.gambitos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.IngresarActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro.RegistroActivity" />
        <activity
            android:name=".Registro.RegistroPadreActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Registro.RegistroMedicoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Padre.InicioPadresActivity"
            android:label="@string/title_activity_inicio_padres"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Medico.InicioMedicoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Medico.InicioMedico2Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Padre.HijoMenuActivity" />
        <activity
            android:name=".Registro.RegistroPadreDosActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login.IngresoMedico"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login.IngresoMedicoIndependiente"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Graficas.GraficasMedicoNinoActivity" />
        <activity android:name=".Graficas.GraficasMedicoNinaActivity" />
        <activity android:name=".Graficas.GraficasPadreNinaActivity" />
        <activity android:name=".Graficas.GraficasPadreNinoActivity" />
        <activity android:name=".Padre.ProximamenteActivity" />
        <activity
            android:name=".OlvidoContrasena.ContrasenaPadreUnoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OlvidoContrasena.ContrasenaPadreDosActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OlvidoContrasena.ContrasenaPadreTresActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".OlvidoContrasena.ContrasenaMedicoUnoActivity" />
        <activity android:name=".OlvidoContrasena.ContrasenaMedicoDosActivity" />
        <activity android:name=".OlvidoContrasena.ContrasenaMedicoTresActivity" />
        <activity
            android:name=".Padre.PruebaActivity"
            android:label="@string/title_activity_prueba"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>